Options All -Indexes
ErrorDocument 404 /404.php
<files .htaccess>
order allow,deny
deny from all
</files>
<files koneksi.php>
order allow,deny
deny from all
</files>
<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteBase /backoffice/
RewriteRule ^(.*)/$ $1.php [L]
</ifModule>